/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --primary-color: #0DFF92;
    --dark-color: #222222;
    /*--light-color: #f0f0f0; */
    --light-color: #cecece; 
    
    
}

body, html {
    height: 100%;
    background: var(--dark-color);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 90vh;
    width: 90vw;
    max-width: 800px;
    padding: 20px;
    background: var(--light-color);
    border-radius: 8px;
}

.container .title {
    font-size: 2em;
    text-align: center;
    border: 5px solid var(--primary-color);
    padding: 0.3em 0.2em;
    border-radius: 4px;
    margin-bottom: 20px;
}

.text-light {
    color: var(--light-color);
}

.container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.container .questions {
    padding: 1em 0;
    flex-grow: 1;
    overflow-y: auto;
}

.container .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    margin-top: 2em;
}

@media (min-width: 600px) {
    .container .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.container .btn {
    padding: 0.5em 1em;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
}

.container .btn:hover {
    cursor: pointer;
    background-color: #f0f0f0;
    color: #202020;
}

.next {
    background-color: var(--primary-color);
    justify-self: flex-end;
}

.prev {
    background-color: #faff5a;
    justify-self: flex-start;
}

ul li {
    color: #AAAAAA;
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #333;
}

ul li input[type=radio] {
    position: absolute;
    visibility: hidden;
}

ul li label {
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1em;
    padding: 15px 15px 15px 40px;
    margin: 10px 0;
    cursor: pointer;
}

ul li:hover label {
    color: #FFFFFF;
}

ul li .check {
    display: block;
    position: absolute;
    border: 3px solid #AAAAAA;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: 15px;
    left: 10px;
    transition: border 0.25s linear;
}

ul li:hover .check {
    border: 3px solid #FFFFFF;
}

ul li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 5px;
    left: 5px;
    transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
    border: 3px solid var(--primary-color);
}

input[type=radio]:checked ~ .check::before {
    background: var(--primary-color);
}

input[type=radio]:checked ~ .text-primary {
    color: var(--primary-color);
}

.checked {
    border: 3px solid var(--primary-color) !important;
}

.checked::before {
    background: var(--primary-color);
}
